body{
    width: 800px;
    position: relative;
}
#canvas_snake{
    border: 1px black solid;
}
.score{
    font-family: cursive;
    font-size: 30px;
    color: #996600;
    padding: 10px;
    position: absolute;
    display: inline-block;
    top: 0;
}
